# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/*
!media/.gitkeep
static/*
!static/.gitkeep
staticfiles/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/
